<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1002327604179-h7noonact2anv2b4smm2qpmaon8ehuq7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1002327604179-h7noonact2anv2b4smm2qpmaon8ehuq7</string>
	<key>API_KEY</key>
	<string>AIzaSyBzq22orRU8LzhCZtw3Uek3XpWwY0u2EII</string>
	<key>GCM_SENDER_ID</key>
	<string>1002327604179</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>SPARQDEV.Tasky</string>
	<key>PROJECT_ID</key>
	<string>tasky-4a876</string>
	<key>STORAGE_BUCKET</key>
	<string>tasky-4a876.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1002327604179:ios:951a412e57cc4483860d26</string>
	<key>DATABASE_URL</key>
	<string>https://tasky-4a876.firebaseio.com</string>
</dict>
</plist>